#### ``Series`` ve ``Dict`` lerde ``map()``, 
#### ``DataFrame`` lerde ``applymap()`` kullanilir

In [38]:
import pandas as pd
import numpy as np
data = [(3,5,7), (2,4,6),(5,8,9)]
df = pd.DataFrame(data, columns = ['A','B','C'])
print(df)

   A  B  C
0  3  5  7
1  2  4  6
2  5  8  9

In [ ]:

# # Use Pandas Series.apply() Function to Single Column
# df["A"]=df["A"].apply(lambda x: x/10)

# # Use DataFrame.apply() method
# df2 = df.apply(lambda x: x/10)

# # Use Pandas DataFrame.applymap() method
# df2 = df.applymap(lambda a: a*10)

# # Use DataFrame.applymap() method
# df2 = df.applymap(lambda a: str(a)+".00")

In [5]:
# Use Pandas Series.apply() Function to Single Column
df["A"]=df["A"].apply(lambda x: x/10)
df

     A  B  C
0  0.3  5  7
1  0.2  4  6
2  0.5  8  9

In [36]:
# # Use DataFrame.apply() method
df2 = df.apply(lambda x: x/10)
df2

     A    B    C
0  0.3  0.5  0.7
1  0.2  0.4  0.6
2  0.5  0.8  0.9

In [34]:
# Use Pandas DataFrame.applymap() method
df2 = df.applymap(lambda a: a*10)
print(df2)

    A   B   C
0  30  50  70
1  20  40  60
2  50  80  90

In [35]:
# # Use Pandas DataFrame.applymap() method
df2 = df.apply(lambda a: a*10)
print(df2)

    A   B   C
0  30  50  70
1  20  40  60
2  50  80  90

In [39]:
# # Use DataFrame.applymap() method
df2 = df.apply(lambda a: str(a)+".00")
df2

A    0    3\n1    2\n2    5\nName: A, dtype: int64.00
B    0    5\n1    4\n2    8\nName: B, dtype: int64.00
C    0    7\n1    6\n2    9\nName: C, dtype: int64.00
dtype: object

In [40]:
# # Use DataFrame.applymap() method
df2 = df.applymap(lambda a: str(a)+".00")
df2

      A     B     C
0  3.00  5.00  7.00
1  2.00  4.00  6.00
2  5.00  8.00  9.00

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   B       3 non-null      object
 2   C       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [27]:
df['C'] = df['C'].astype(float)
df

   A  B    C
0  3  5  7.0
1  2  4  6.0
2  5  8  9.0

In [29]:
df=df.apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 200.0 bytes

In [ ]:
# Use DataFrame.map() Method
df["Col 1"]=df["Col 1"].map(lambda x: x/100)
print(df)

In [41]:
# Series map mathod
df

   A  B  C
0  3  5  7
1  2  4  6
2  5  8  9

In [42]:
# Use DataFrame.map() Method
df["A"]=df["A"].map(lambda x: x/100)
print(df)

      A  B  C
0  0.03  5  7
1  0.02  4  6
2  0.05  8  9