In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

In [3]:
df_cur = pd.read_csv("currency_rates_082020_EUR.csv")
df_cur.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [4]:
df_sales = pd.read_csv("sales_082020.csv")
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [5]:
df_sales1 = df_sales.copy()
df_cur1 = df_cur.copy()

In [8]:
df_sales1.date = pd.to_datetime(df_sales1.date)

In [6]:
df_cur1.date = pd.to_datetime(df_cur1.date)

In [9]:
df_new = pd.merge(df_sales1, df_cur1, how="inner", on=["currency", "date"])
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [10]:
df_new["total"] = df_new.price / df_new["rate"]

df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [96]:
df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False)

buyer_country
GB     3.578790e+06
US     2.128470e+06
AU     2.197616e+05
IT     1.642370e+05
RoW    1.542623e+05
IE     1.155707e+05
CA     6.656550e+04
DE     2.549480e+04
FR     1.835889e+04
Name: total, dtype: float64

In [97]:
df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False)[0]

3578789.971678244

In [141]:
(df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False)[0]/df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False).sum()*100).round(1)

55.3

In [16]:
df_new.groupby('date')['total'].sum().sort_values(ascending=False)

date
2020-08-03    1.005281e+06
2020-08-08    9.895082e+05
2020-08-07    9.661487e+05
2020-08-09    9.467022e+05
2020-08-04    9.351293e+05
2020-08-06    8.582236e+05
2020-08-05    7.705182e+05
Name: total, dtype: float64

In [17]:
df_new.sample()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
70751,3w6p06uvah,GB,0j7uygyw,GB,ltyip9l5k6rw,Outerwear,Zara,GBP,15.98,2020-08-04,0.902815,17.700193

In [18]:
df_new.groupby('category')['total'].sum().sort_values(ascending=False)

category
Shoes                1.158670e+06
Tops - Mens          9.907809e+05
Tops - Womens        8.534094e+05
Accessories          6.922167e+05
Bottoms - Womens     6.628500e+05
Dresses              5.104429e+05
Jewellery            2.184243e+05
Outerwear - Mens     2.088511e+05
Outerwear            1.887745e+05
Bottoms - Mens       1.784966e+05
Tech                 1.647485e+05
Other                1.598466e+05
Beauty               1.473001e+05
Lingerie             1.038783e+05
Home                 6.696009e+04
Music                4.979224e+04
Kids                 3.876680e+04
Art                  3.021194e+04
Books & magazines    1.472520e+04
Sports equipment     1.339325e+04
Film                 1.232519e+04
Underwear            4.331796e+03
Transportation       1.949818e+03
UNSPECIFIED          1.119754e+02
Name: total, dtype: float64

In [21]:
df_new.groupby(['category','date'])['total'].sum().sort_values(ascending=False)

category     date
Shoes        2020-08-03    178656.872291
             2020-08-04    177482.219707
             2020-08-08    172611.823585
             2020-08-09    171362.355435
             2020-08-07    170101.355665
                               ...
UNSPECIFIED  2020-08-03        46.366791
             2020-08-08        26.149398
             2020-08-07        18.100000
             2020-08-06        14.206133
             2020-08-05         7.153123
Name: total, Length: 166, dtype: float64

In [43]:
df_new.groupby(['date','category'])['total'].count()['2020-08-07'].sort_values()

category
UNSPECIFIED             1
Transportation         16
Underwear              24
Sports equipment       63
Film                   64
Books & magazines     154
Kids                  317
Art                   333
Music                 336
Home                  514
Tech                  539
Outerwear - Mens      552
Lingerie              788
Bottoms - Mens        826
Outerwear             917
Other                1014
Beauty               1297
Jewellery            2324
Dresses              3079
Accessories          3090
Shoes                3292
Bottoms - Womens     4571
Tops - Mens          4835
Tops - Womens        6798
Name: total, dtype: int64

In [144]:
df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False)['US'] / df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False).sum()*100

32.88984897451386

In [47]:
df_new.groupby('buyer_country')['total'].sum().sort_values(ascending=False)['US']

2128470.1358892005

In [52]:
df_new.sample()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
232625,0mkp9pe7pg,GB,apyfh678,IE,f44g1tvsmjzy,Tops - Mens,NaN,EUR,253.97,2020-08-05,1.0,253.97

In [78]:
# df_new.groupby(['seller_country','date'])['total'].count()['2020-08-04'].sort_values()
df_new.groupby(['seller_country','date'])['total'].sum().sort_values()['US']['2020-08-04']

date
2020-08-04    311133.043327
Name: total, dtype: float64

In [85]:
df_new.groupby('date')['total'].sum()['2020-08-04']

935129.3255536667

In [137]:
(df_new.groupby(['seller_country','date'])['total'].sum().sort_values()['US']['2020-08-04']/ df_new.groupby('date')['total'].sum()['2020-08-04']*100).round(1)

date
2020-08-04    33.3
Name: total, dtype: float64

In [87]:
df_new.sample(2)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
30417,nkitscpp9l,GB,1jsihaok,GB,tqnyekgc9ae9,Accessories,NaN,GBP,4.54,2020-08-09,0.90278,5.028911
22126,rfzhjmd2by,GB,9p2ansc9,GB,vpvmahrcrm87,Outerwear - Mens,Nike,GBP,27.10,2020-08-09,0.90278,30.018388

In [135]:
(df_new.groupby(['seller_country','seller_id'])['total'].count()['US'].sort_values()>=75).value_counts()

False    34097
True        22
Name: total, dtype: int64

In [148]:
df_new.groupby('seller_id')['total'].sum().sort_values(ascending=False)

seller_id
pzsiehl0    20558.868517
dbm0o9qu    14037.955909
arloo1le    10027.400219
wd3rgi3q     9005.918599
hbtm3tdy     6661.876711
                ...
dhz56efc        0.645507
kdo46xja        0.643615
n5a7dgne        0.635447
ozrymzo0        0.598099
0iwopinp        0.011056
Name: total, Length: 114227, dtype: float64

. Yurt içi ve yurt dışı arasındaki ortalama işlem değerinde en büyük mutlak € farkına hangi marka sahip oldu?

In [149]:
df_new.sample()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
51217,vvsbfvh66t,GB,35kt7vmm,GB,b5wyivvz5a97,Tops - Womens,NaN,GBP,14.51,2020-08-07,0.90286,16.071152

In [156]:
df_new[df_new['buyer_country']=='seller_country']

Empty DataFrame
Columns: [buyer_id, buyer_country, seller_id, seller_country, product_code, category, brand, currency, price, date, rate, total]
Index: []