In [13]:
#  pip install openpyxl
#  pip install xlrd
#  pip install pandas
import pandas as pd
file = pd.ExcelFile("sales.xlsx")
print(file.sheet_names)

sheet = file.parse('sales')
print(sheet)
print(type(sheet))
print(sheet.Date)
print(sheet.Amount)
print("Amount sum:", sheet.Amount.sum())
print('\n\n')

['sales', 'customers']
        Date             Customer  Invoice  Amount
0 2018-12-01  Steel Brothers Inc.       98    1340
1 2018-12-10             MMC Inc.       99    1900
2 2018-12-12             MMC Inc.      100    2900
3 2018-12-18  Steel Brothers Inc.      101     977
4 2018-12-21     Steel & Iron LLC      102    3400
<class 'pandas.core.frame.DataFrame'>
0   2018-12-01
1   2018-12-10
2   2018-12-12
3   2018-12-18
4   2018-12-21
Name: Date, dtype: datetime64[ns]
0    1340
1    1900
2    2900
3     977
4    3400
Name: Amount, dtype: int64
Amount sum: 10517



Date        2018-12-01 00:00:00
Customer    Steel Brothers Inc.
Invoice                      98
Amount                     1340
Name: 0, dtype: object

In [14]:
sheet.loc[0]

Date        2018-12-01 00:00:00
Customer    Steel Brothers Inc.
Invoice                      98
Amount                     1340
Name: 0, dtype: object

In [15]:
sheet.loc[0,'Amount']

1340

In [18]:
sheet.set_index('Customer',inplace=True)
sheet.loc['MMC Inc.']

               Date  Invoice  Amount
Customer
MMC Inc. 2018-12-10       99    1900
MMC Inc. 2018-12-12      100    2900

In [19]:
sheet= sheet.reset_index()
sheet

              Customer       Date  Invoice  Amount
0  Steel Brothers Inc. 2018-12-01       98    1340
1             MMC Inc. 2018-12-10       99    1900
2             MMC Inc. 2018-12-12      100    2900
3  Steel Brothers Inc. 2018-12-18      101     977
4     Steel & Iron LLC 2018-12-21      102    3400